@import 'bootstrap/dist/css/bootstrap.css';
@import url('https://fonts.googleapis.com/css2?family=Copse&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-weight: bold;
  font-family: "Copse", serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: palegoldenrod;
}

#right-nav {
  display: flex;
 justify-content: flex-end;
}

#card-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
